@import 'variables.scss';
@import 'header/header.scss';
@import 'rental/rental-listing.scss';
@import 'rental/rental-details.scss';

.page-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.condo{
    color: #dd1c1c
}
.house{
    color: #c99c0a
}
.apartment{
    color: #2c9631
}